{% load static %}
<html>
    <head>
    {# <link rel="icon" type="image/png" href="{% static "favicons/favicon-32x32.png"%}" sizes="32x32"> #}

<title>Monitoring</title>

<link href= "{% static "css/bootstrap.min.css" %}"rel="stylesheet" type="text/css" media="all" />  
{# <link href= "{% static "css/bootstrap-theme.min.css" %}"rel="stylesheet" type="text/css" media="all" />   #}
<link href= "{% static "css/custom.css" %}"rel="stylesheet" type="text/css" media="all" />  
{% block add_css %}{% endblock add_css %}
</head>
<body>

            {% block content %}{% endblock content %}

<!--footer-->
<script src="{% static "js/bootstrap.min.js" %}"></script>

{# <script src="https://yastatic.net/share2/share.js" async="async"></script> #}
</body>
</html>

