{% extends 'base.html' %}
{% load static %}

{% block add_css %}
<link href= "{% static "css/blog.css" %}"rel="stylesheet" type="text/css" media="all" />  
{% endblock add_css %}

{% block content %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ prostitutemodel.name }}</h1>
        <p class="lead blog-description">{{ prostitutemodel.city }}
          {% if prostitutemodel.district %}
          , {{ prostitutemodel.district }}
          {% endif %}
          {% if prostitutemodel.underground %}
          , {{ prostitutemodel.underground }}
          {% endif %}
        </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{{ prostitutemodel.phone }}</h2>
            <p class="blog-post-meta"> 
              <a href="{{ prostitutemodel.url }}" target="_blank">
                {{ prostitutemodel.url }}
              </a>
            </p>
            <p>
            {% if prostitutemodel.price_1 %}
              ЧАС: {{ prostitutemodel.price_1 }}<br>
            {% endif %}

            {% if prostitutemodel.price_2 %}
              ДВА: {{ prostitutemodel.price_2 }}<br>
            {% endif %}

            {% if prostitutemodel.price_night %}
              НОЧЬ: {{ prostitutemodel.price_night }}<br>
            {% endif %}

            {% if prostitutemodel.currency %}
              Валюта: {{ prostitutemodel.currency }}<br>
            {% endif %}
            </p>
            
            <p>
            {% if prostitutemodel.age %}
              Возраст: {{ prostitutemodel.age }}<br>
            {% endif %}

            {% if prostitutemodel.weight %}
              Вес: {{ prostitutemodel.weight }}<br>
            {% endif %}

            {% if prostitutemodel.height %}
              Рост: {{ prostitutemodel.height }}<br>
            {% endif %}

            {% if prostitutemodel.bust %}
              Бюст: {{ prostitutemodel.bust }}<br>
            {% endif %}
            </p>

            {% if prostitutemodel.description %}
            <p> Описание: {{ prostitutemodel.description }}<p>
            {% endif %}
            
            <p> Услуги: </p>
            <ul> 
              {% for propose in prostitutemodel.proposes_load %}
                <li>{{ propose }}</li>
              {% endfor %}
            </ul>
            <hr>
            <p> Дата парсинга: {{ prostitutemodel.date_str }} </p>
          </div><!-- /.blog-post -->
{% comment %}  
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>
{% endcomment %}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% for photo in prostitutemodel.photos %}
            <img src="{{ photo }}" alt="Card image cap"style="width: 100%; display: block;"><br><br>
          {% endfor %}
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}