{% extends 'base.html' %}
{% load static %}

{% block add_css %}
<link href= "{% static "css/blog.css" %}"rel="stylesheet" type="text/css" media="all" />  
{% endblock add_css %}

{% block content %}
<div class="container">
{#    {% if object_list %}#}


      <div class="blog-header">
        <h3 class="blog-title">{{ filter }}</h3>
        {# <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p> #}
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <ul class="list-group">

        {% for item in object_list %}
        <li class="list-group-item">
            <a href="{% url 'detail' item.id %}">
            <h3>
                {{ item.name }}, {{ item.phone }}
            </h3>
            </a>
            <p class="list-group-item-text">Ссылка 
              <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
            </p>
            <p class="list-group-item-text">  
              {% if item.description %}{{ item.description|truncatechars:50  }}<br>{% endif %}
              {% if item.price_1 %}Цена: {{ item.price_1 }}{% endif %}
              <br> Дата обновления: {{ item.date_str }}
            </p>
        </li>
        {% endfor %}
        </ul>
          <nav>
            {% if is_paginated %}
              <nav>
                <ul class="pager">
                  {% if page_obj.has_previous %}
                      <li><a href="{% url 'filter' filter %}?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                  {% endif %}
                  <span class="page-current">
                      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <li><a href="{% url 'filter' filter %}?page={{ page_obj.next_page_number }}">Следующая</a></li>
                  {% endif %}
                </ul>
              </nav>
            {% endif %}

        </div><!-- /.blog-main -->
{#        {% endif %}#}

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <h4><a href="{% url 'xlsx' filter %}" target="_blank">Скачать эксель текущей выборки</a></h4> 
          <br>
          <h4><a href="{% url 'filter' 'new_numbers' %}">Новые номера за сегодня</a></h4>
          <h4><a href="{% url 'filter' 'new_three_days' %}">Новые номера за три дня</a></h4>
          <h4><a href="{% url 'filter' 'fresh' %}">Свежие</a></h4>
          <h4><a href="{% url 'filter' 'all' %}">Все</a></h4>
          <h3>Unique значит что номера телефона в выборке не повторяюються на других сайтах, ссылки ниже.</h3>
          {% for key, value in SITE_NAME %}
            <h4><a href="/filter/{{ value }}unique">{{ value }} unique</a></h4>
          {% endfor %}
          <h3>Все объявления на сайтах</h3>
          {% for key, value in SITE_NAME %}
            <h4><a href="{% url 'filter' value %}">{{ value }}</a></h4>
          {% endfor %}

          <a href=""></a>
        </div><!-- /.blog-sidebar -->

      </div>
      </div>

{% endblock content %}